<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangs.just">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.APPAplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yangs.just.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Kebiao_detail" />
        <activity android:name=".activity.meAbout" />
        <activity android:name=".activity.Browser" />
        <activity android:name=".book.Book_Lend" />
        <activity android:name=".book.Book_Find" />
        <activity android:name=".coursepj.CoursePJ" />
        <activity android:name=".score.ScoreActivity" />
        <activity android:name=".bbs.BBSDetailActivity" />
        <activity android:name=".activity.BBSLoginActivity" />
        <activity android:name=".bbs.BBSReplyActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.VpnActivity" />
        <activity
            android:name=".activity.KebiaoDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <receiver android:name=".utils.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="Kedaquan_Widget_Update" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>
    </application>

</manifest>